* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  display: flex;
  font-family: Avenir Next;
  color: #efefef;
  font-size: 0.9375rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* @font-face {
  font-family: 'Avenir Next Bold';
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  src: url('./fonts/AvenirNext-Bold/AvenirNext-Bold.pbf') format('eot');
    
} */

b,
strong,
h1,
h2,
h3,
h4,
h5 {
  font-family: Avenir Next;
}

img {
  object-fit: cover;
}

.link {
  color: #ffba1f;
}

#viewDiv {
  height: 100%;
  width: 100%;
}

#sideBarContent {
  padding: 0rem 1rem 1rem
}

#sideBar {
  background-color: rgba(17, 49, 73, 1);
}

#sideBarToggleArrow {
  display: none;
}

#infoBar {
  width: 416px;
  height: 100%;
  padding: 0.5rem 1rem;
  overflow: hidden auto;
}

#modal-btn {
  margin-top: 11px;
  padding: 0;
  border: 0;
  color: #ea1600;
  background-color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#population-svg .domain {
  stroke: none;
}

#population-svg line {
  stroke: none;
}

#layer-list-button {
  color: #fff;
}

.dropdown .dropdown-menu .dropdown-link {
  color: white;
  background-color: rgba(0, 48, 77, 0.95);
  border-top: 1px solid hsla(0, 0%, 100%, 0.3);
}

/* ESRI WIDGETS */
/* SEARCH BAR */

#searchContainer {
  width: 250px;
  margin-left: 5.7rem;
  margin-top: -4.57rem;
}

.esri-search__container .esri-search__input-container .esri-search__form .esri-search__input{
  background-color:rgb(17, 54, 81);
  color: #FFFFFF;
}

#searchContainer-suggest-menu .esri-menu__list-item{
  margin-top: 0;
}

#searchContainer-suggest-menu .esri-menu__list-item:hover, .esri-menu__list-item:focus{
  margin-top: 0;
  background-color: #07698C;
}

.esri-view-width-less-than-small .esri-search__input {
  color: #FFFFFF;
  font-size: 1rem;
}

.esri-search__container .esri-search__input-container .esri-search__suggestions-menu .esri-menu__list{
  background-color: rgb(17, 54, 81);
  color: #FFFFFF;
}

#searchContainer-input .esri-view-width-less-than-small .esri__input .esri-search__input placeholder{
  color: #ffffff;
}

.esri-search__container button {
  background-color: rgb(17, 54, 81);
}

.esri-icon-search{
  color: #ffffff;
}

/* ZOOM WIDGET */
.esri-zoom .esri-widget--button{
  background-color: rgb(17, 54, 81);
}

.esri-zoom .esri-widget--button .esri-icon-plus{
  color: #ffffff;
}

.esri-zoom .esri-widget--button .esri-icon-minus{
  color: #ffffff;
}

/* SCALE BAR */

#viewDiv .esri-ui-bottom-right {
  bottom: 0.5rem;
}

#viewDiv .esri-scale-bar__line--bottom {
  top: -1px;
  border-top: 1px solid #ffffff;
  background-color: rgb(17, 54, 81);
  outline: 6px solid rgb(17, 54, 81);
}

#viewDiv .esri-scale-bar__label{
  font-size: inherit;
  color: #ffffff;
  white-space: nowrap;
  padding: 0 7px;
  font-weight: bold;
}

#viewDiv .esri-scale-bar__line--bottom:before{
  content: "";
    display: block;
    width: 1px;
    height: 1.5em;
    background-color: rgb(17, 54, 81);
    position: absolute;
    top: -1px;
    border-right: 1px solid #ffffff;
}

#viewDiv .esri-scale-bar__line--bottom:after{
  content: "";
    display: block;
    width: 1px;
    height: 1.5em;
    background-color: rgb(17, 54, 81);
    position: absolute;
    top: -1px;
    border-right: 1px solid #ffffff;
}

/* map layer button */
#layer-list-button {
  background: #FFBA1F;
  color: #14273d;
  width: 160px;
  margin-left: 20px;
  margin-bottom: 17px;
  font-weight:bolder;
  border: none;
}
/* GRAPH & SVG */
.tick text {
  font-size: 0.875rem;
}

#landcover-chart .percentage, .landcover {
  fill: #659B63;
  font-size: 1.414rem;
  font-weight: bold;
  text-align: center;

}

/* INFORMATION SIDEBAR COMPONENTS */
.ecoregionInformation{
  width: 100%;
  margin-bottom: 15px;
  font-size: 0.9375rem;
  color: #6aa067;
  font-weight: bold;
}

.divider {
  margin: 0rem 0rem 0.5rem;
  border: none;
  border-top: 2px solid hsl(0, 0%, 70%);
}

.fire-item p {
  margin-bottom: -5px;
}

.item-container{
  margin-top: 1.5625rem;
}

.item-header {
  margin-bottom: 0.9375rem;
}

.sectionHeader {
  font-size: 1.5rem;
  color: #ffba1f;
}

.sectionSubHeader {
  font-size: 0.75rem;
  margin-top: -5px;
}

.bold {
  font-family: Avenir Next LT Pro;
  font-weight: 600;
  color: #ffba1f;
  display: inline;
}

#habitat-container .bold{
  color: #6aa067;
  line-height: 1.2;
}

#housing-container .bold {
    color: #a5927c;
}

#wildfire-risk .bold {
    color: #a5927c;
}

#people-container {
  padding: 0 15px;
}

#people-container .bold {
    color: #07698C;
    margin-bottom: -5px;
}



.legend-spacing{
  display: flex;
  margin-bottom: 5px;
  margin-top: 10px;
}

#fire-points-images .legend-spacing {
  display: flex;
  align-items: end;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 48px;
  height: 52px;
}

.legend-image-spacing {
  margin-top: -2px;
  margin-bottom: 5px;
  margin-left: 15px;
  min-width: 32px;
  height: 20px;
}

.side-bar-legend-image-spacing {
  margin-top: -2px;
}

.legend-image {
  margin-top: -2px;
  margin-bottom: 5px;
  margin-left: 10px;
  min-width: 36px;
  height: 20px;
}

.legend-text {
  font-size: 14px;
  margin-left: 10px;
  margin-top: -2px;
  min-width: 32px;
}

#fire-points-lable-side-bar-text .legend-text {
  font-size: 13px;
 
}

.legend-bar-img {
  margin-left: 45px;
  margin-bottom: 5px;
  margin-top: -5px;
  width: 59%;
  height: 20px;
}

.legend-bar-img-text {
  margin-left: 25px;
  margin-right: 69px;
}

.fire-icon-legend{
  width: 1.5rem;
  height: 1.5rem;
}

/* .population-icon-legend{
  margin-bottom: 0;
  object-fit: cover;
} */

.population-legend-spacing {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.population-legend-spacing .legend-text {
  display: grid;
  place-items: center;
  
}

.populationLegend-image-spacing {
  display: grid;
  place-items: center;
  margin-top: 2px;
  margin-bottom: 15px;
  width: 55px;
  height: 25px;
}


/* trying to create custom checkboxes */
.checkbox-container {
  font-size: 14px;
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  margin-left: -25px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container .auto-checkbox {
  margin-left: -25px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  opacity: 0;
}
.checkbox-container .auto-checkbox:disabled {
  margin-left: -25px;
  position: absolute;
  cursor: default;
  height: 0;
  width: 0;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #021a26;
}

.disable {
  cursor: default;
  color:rgb(150, 150, 150);
}

.disable .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #021a26;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
  background-color: #021a26;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark::after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.disable input:checked~.checkmark::after {
  display: block;
}

/* .disable input~.checkmark::after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #FFBA1F;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

@media screen and (max-width: 770px) {
  #searchContainer {
    width: 150px;
  }
}

@media screen and (max-width: 720px) {
  #searchContainer {
    width: 150px;
  }
  
  #sideBarContent {
    padding: 0rem 0rem 1rem
  }

  #sideBar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    padding: 40px 170px 0;
    background: rgba(17, 49, 73, 0.85);
    border-radius: 25px 25px 0 0;
    z-index: 2;
    overflow:hidden;
    transition: 0.3s;
  }

  #sideBarTop {
    display: initial;
    padding-top: 45px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: rgba(17, 49, 73, 1);
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
  }

  #sideBarToggleArrow{
    display: block;
    position: absolute;
    top: 0px;
    text-align: center;
    margin: 0 47%
  }
  .divider {
    margin: 0rem -1rem 0.5rem;
  }

  #infoBar {
    width: 100%;
    overscroll-behavior: contain;
  }
}

@media screen and (max-width: 660px){
  #sideBar {
  padding: 40px 140px 0;
  }
}

@media screen and (max-width: 590px){
  #sideBar {
  padding: 40px 110px 0;
  }
}

@media screen and (max-width: 530px){
  #sideBar {
  padding: 40px 90px 0;
  }
  
  #people-container {
    padding: 0 0 0 0;
  }

}

@media screen and (max-width: 477px) {
  #sideBar {
    padding: 40px 70px 0;
  }
}

@media screen and (max-width: 440px) {
  #sideBar {
    padding: 40px 35px 0;
  }
}

@media screen and (max-width: 375px) {
  #sideBar {
    padding: 40px 20px 0;
  }

  #people-container{
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  #sideBar {
    padding: 40px 0px 0;
  }
}