* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  display: flex;
  font-family: Avenir Next;
  color: #efefef;
  font-size: 0.9375rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#viewDiv {
  height: 100%;
  width: 100%;
}

#modal-btn {
  color: #ea1600;
  background-color: transparent;
  padding: 0;
  border: 0;
}

#population-svg .domain {
  stroke: none;
}

#population-svg line {
  stroke: none;
}

#layer-list-button {
  color: #fff;
}

.dropdown .dropdown-menu .dropdown-link {
  color: white;
  background-color: rgba(0, 48, 77, 0.95);
  border-top: 1px solid hsla(0, 0%, 100%, 0.3);
}

.esri-search__container .esri-search__input-container .esri-search__form .esri-search__input{
  background-color:rgb(17, 54, 81);
  color: #FFFFFF;
}
.esri-view-width-less-than-small .esri-search__input {
  color: #FFFFFF;
  font-size: 1rem;
}

.esri-search__container .esri-search__input-container .esri-search__suggestions-menu .esri-menu__list{
  background-color: rgb(17, 54, 81);
  color: #FFFFFF;
}

#searchContainer-input .esri-view-width-less-than-small .esri__input .esri-search__input placeholder{
  color: #ffffff;
}

.esri-search__container button {
  background-color: rgb(17, 54, 81);
}

.esri-icon-search{
  color: #ffffff;
}

.esri-zoom .esri-widget--button{
  background-color: rgb(17, 54, 81);
}

.esri-zoom .esri-widget--button .esri-icon-plus{
  color: #ffffff;
}

.esri-zoom .esri-widget--button .esri-icon-minus{
  color: #ffffff;
}

.tick text {
  font-size: 0.875rem;
}

#landcover-chart .percentage, .landcover {
  fill: #659B63;
  font-size: 1.414rem;
  font-weight: bold;
  text-align: center;

}

.ecoregionInformation{
  width: 100%;
  min-height: 3rem;
  font-size: 0.9375rem;
  color: #6aa067;
  font-weight: 500;
}

.divider {
  margin: 0rem 0rem 0.5rem;
  border: none;
  border-top: 2px solid hsl(0, 0%, 70%);
}

.fire-item p {
  margin-bottom: -5px;
}

.item-container{
  margin-top: 1.5625rem;
}

.item-header {
  margin-bottom: 0.9375rem;
}

.sectionHeader {
  font-size: 1.5rem;
  color: #ffba1f;
}

.sectionSubHeader {
  font-size: 0.8125rem;
  margin-top: -5px;
}

.bold {
  font-family: Avenir Next LT Pro;
  font-weight: 600;
  color: #ffba1f;
  display: inline;
}

#habitat-container .bold{
  color: #6aa067;
  line-height: 1.2;
}

#housing-container .bold {
    color: #a5927c;
}

#wildfire-risk .bold {
    color: #a5927c;
}

#people-container .bold {
    color: #07698C;
    margin-bottom: -5px;
}

.link {
  color: #ffba1f;
}

.legend-spacing{
  display: flex;
  margin-bottom: 5px;
  margin-top: 10px;
}

.fire-icon-legend{
  width: 1.5rem;
  height: 1.5rem;
}

.legend-image-spacing {
  margin-top: -2px;
  margin-bottom: 5px;
  margin-left: 15px;
  min-width: 32px;
  height: 20px;
}

.legend-image{
  margin-top: -2px;
  margin-bottom: 5px;
  margin-left: 25px;
  min-width: 36px;
  height: 20px;
}

.legend-text{
  margin-left: 10px;
  margin-top: -2px;
}

.auto-checkbox {
  background-color: green;
}

label input .auto-checkbox  :checked{
  background-color: #ea1600;
}