* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #FFBA1F #032235;
}

html,
body,
main {
  display: flex;
  font-family: Avenir Next;
  color: #efefef;
  font-size: 0.9375rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

b,
strong,
h1,
h2,
h3,
h4,
h5 {
  font-family: Avenir Next;
}

img {
  object-fit: cover;
}

.invisible {
  display: none;
}

.link {
  color: #ffba1f;
}

.underline {
  text-decoration-line: underline;
    text-decoration-color: #FFBA1F;
    text-decoration-thickness: 3px;
    text-underline-position: under;
    text-underline-offset: 2px;
    cursor: default;
}

.sortClass{
  font-size: 20px;
  padding-right: 2rem;
  cursor: pointer;
}

.sortClass:hover{
  color: #cac8c8;
}

.SortClassLeftMargin {
  margin-left: -16px;
}

#viewDiv {
  height: 100%;
  width: 100%;
}

#sideBarContent {
  padding: 0rem 1rem 1rem
}

#sideBar {
  background-color: rgba(17, 49, 73, 1);
  width:416px;
}

#sideBarToggleArrow {
  display: none;
}

#sideBarHeader{
  position: sticky;
  top: 0px;
  background-color: rgba(17, 49, 73, 1);
  z-index: 3;
  margin: 0px 0px;
  padding-top: 9px;
  /* display: initial; */
}

#sideBarMobileHeader {
  position: sticky;
  top: 0px;
  background-color: rgba(17, 49, 73, 1);
  z-index: 3;
  margin: 0px 0px;
  padding:5px 10px 0;
  
}

/* #activeFiresDropdown {
    width: 100%;
    position: sticky;
    top: 0;
    background: rgb(17, 49, 73);
}

#fireSorting {
  display: initial;
   width: 100%;
   margin-bottom: 0.5rem; 
   white-space: nowrap;
}

#fire-list{
  display: initial;
} */

#infoBar {
  /* background-color: rgba(17, 49, 73, 1); */
  width: 416px;
  height: 91%;
  padding: 0rem 1rem;
  /* margin-top: 20px; */
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
}

#title{
  font-size: 1.8rem;
}

#modal-btn {
  margin-top: 11px;
  padding: 0;
  border: 0;
  color: #ea1600;
  background-color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#wfp-btn {
  padding: 0;
  border: 0;
  /* color: #ea1600;
  background-color: #ffffff; */
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#population-svg .domain {
  stroke: none;
}

#population-svg line {
  stroke: none;
}

/* #layer-list-button {
  color: #fff;
} */

.dropdown .dropdown-menu .dropdown-link {
  color: white;
  background-color: rgba(0, 48, 77, 0.95);
  border-top: 1px solid hsla(0, 0%, 100%, 0.3);
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #032235;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFBA1F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b98816;
}

/* scrollBar for fireFox */
/* scrollbar-width */


/* ESRI WIDGETS */
/* SEARCH BAR */

#searchContainer {
  width: 250px;
  margin-left: 5.7rem;
  margin-top: -4.6rem;
  margin-bottom: 11px;
}

.esri-search__container .esri-search__input-container .esri-search__form .esri-search__input{
  /* background-color:rgb(17, 54, 81); */
  color: rgb(17, 54, 81);
} 

#searchContainer-suggest-menu .esri-menu__list-item{
  margin-top: 0;
}

#searchContainer-suggest-menu .esri-menu__list-item:hover, .esri-menu__list-item:focus{
  margin-top: 0;
  background-color: #07698C;
}

.esri-view-width-less-than-small .esri-search__input {
  color: #FFFFFF;
  font-size: 1rem;
}

.esri-search__container .esri-search__input-container .esri-search__suggestions-menu .esri-menu__list{
  background-color: rgb(14, 45, 67);
  color: #FFFFFF;
  margin: -5px 0 0 0;
}

.esri-search__container  .esri-search__input-container li.esri-menu__list-item--focus, li.esri-menu__list-item:hover, li.esri-menu__list-item:focus {
  background-color: rgb(17, 54, 81);
  color: #FFFFFF;
}

#searchContainer-input .esri-view-width-less-than-small .esri__input .esri-search__input placeholder{
  color: rgb(17, 54, 81);
}

.esri-search__container button {
  /* background-color: rgb(17, 54, 81); */
    color: rgb(17, 54, 81);
}

/* .esri-search__container button:hover {
    background-color: #07698C;
} */

.esri-icon-search{
  color: rgb(17, 54, 81);
}

/* ZOOM WIDGET */
.esri-zoom .esri-widget--button{
  background-color: rgb(255,255,255);
}

/* .esri-zoom .esri-widget--button:hover {
  background-color: #07698C;
} */

.esri-zoom .esri-widget--button .esri-icon-plus{
    color: rgb(17, 54, 81);
}

.esri-zoom .esri-widget--button .esri-icon-minus{
    color: rgb(17, 54, 81);
}

/* HOME BUTTON WIDGET */
/* #homeContainer .esri-widget--button:hover {
  background-color: #07698C;
} */

/* SCALE BAR */

#viewDiv .esri-ui-bottom-right {
  bottom: 0.5rem;
  /* width: 31%; */
}

/* #viewDiv .esri-scale-bar__line--bottom {
  top: -1px;
  border-top: 1px solid #ffffff;
  background-color: rgb(17, 54, 81);
  outline: 6px solid rgb(17, 54, 81);
}

#viewDiv .esri-scale-bar__label{
  font-size: inherit;
  color: #ffffff;
  white-space: nowrap;
  padding: 0 7px;
  font-weight: bold;
}

#viewDiv .esri-scale-bar__line--bottom:before{
  content: "";
    display: block;
    width: 1px;
    height: 1.5em;
    background-color: rgb(17, 54, 81);
    position: absolute;
    top: -1px;
    border-right: 1px solid #ffffff;
}

#viewDiv .esri-scale-bar__line--bottom:after{
  content: "";
    display: block;
    width: 1px;
    height: 1.5em;
    background-color: rgb(17, 54, 81);
    position: absolute;
    top: -1px;
    border-right: 1px solid #ffffff;
} */

.top-right-container {
  position:absolute;
  right:45px;
}

/* MEASURE WIDGET */
div.esri-ui-bottom-right.esri-ui-corner .esri-component.esri-distance-measurement-2d.esri-widget.esri-widget--panel {
width: 175px;
overflow:visible;
}


.esri-component .esri-distance-measurement-2d__container {
  padding: 0;
  overflow:hidden;
  width: 11rem;
}

.esri-component .esri-distance-measurement-2d__actions {
  padding: 0;
  
}

.esri-component .esri-button, .esri-elevation-profile__header button {
background-color: #FFFFFF;
border-color: rgba(17, 49, 73, 0);
color: black;
font-weight:bolder;
font-size: 0.9375rem
/* transition: background-color 125ms ease-in-out,border 125ms ease-in-out; */
}

.esri-component .esri-button:hover, .esri-elevation-profile__header button:hover {
background-color: rgba(17, 49, 73, 1);
border-color: rgba(17, 49, 73, 0);
color: #ffffff;
/* transition: background-color 125ms ease-in-out,border 125ms ease-in-out; */
}

/* MAP LAYERS CONTAINER & BUTTON */
#layerListContainer {
  color: white;
  width: 215px;
  max-height: 87%;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  left: 0px;
}

#layer-list-button {
  background: #FFFFFF;
  border: 1px solid rgba(17, 49, 73, 0);
  color: #14273d;
  width: 160px;
  margin-left: 20px;
  margin-bottom: 17px;
  font-weight:bolder;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#layer-list-button:hover {
  color: #FFFFFF;
  background: #14273d;
}

.no-background {
  background: none;
}

.blue-background {
  background: rgba(17, 49, 73, 1);
}

.box-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#layers {
  background:#FFFFFF;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); */
}

#bottom-btn {
  margin: 30px 0 30px;
}

/* GRAPH & SVG */
.tick text {
  font-size: 0.875rem;
}

#landcover-chart .percentage, .landcover {
  fill: #659B63;
  font-size: 1.414rem;
  font-weight: bold;
  text-align: center;

}

/* INFORMATION SIDEBAR COMPONENTS */
.ecoregionInformation{
  width: 100%;
  margin-bottom: 15px;
  font-size: 0.9375rem;
  color: #6aa067;
  font-weight: bold;
}

.divider {
  margin: 0.5rem 0rem;
  border: none;
  border-top: 2px solid hsl(0, 0%, 70%);
  /* padding-bottom: 13px */
}

.fire-item p {
  margin-bottom: -5px;
}

.item-container{
  margin-top: 1.5625rem;
}

.item-header {
  margin-bottom: 0.9375rem;
}

.sectionHeader {
  font-size: 1.5rem;
  color: #ffba1f;
}

.sectionSubHeader {
  font-size: 1rem;
  margin-top: -5px;
}

.bold {
  font-family: Avenir Next;
  font-weight: bold;
  color: #ffba1f;
  display: inline;
}

.stick {
  position: sticky;
  top: 0px;
  background:rgba(17, 49, 73, 1);
  margin: 0 -17px;
  padding: 0px 20px;
}

/* #people-container {
   padding: 0 15px; 
} */

#people-container .bold {
  color: #0285a8;
  margin-bottom: -5px;
}

#housing-container .bold {
    color: #a5927c;
}

#wildfire-risk .bold {
    color: #a5927c;
}

#habitat-container .bold {
  color: #6aa067;
  line-height: 1.2;
}

/* LAYER LIST LEGEND */
.legend-spacing{
  display: flex;
  margin-bottom: 5px;
  margin-top: 10px;
}

#fire-points-images .legend-spacing {
  display: flex;
  align-items: end;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 48px;
  height: 52px;
}

.legend-image-spacing {
  margin-top: -2px;
  margin-bottom: 5px;
  margin-left: 15px;
  min-width: 32px;
  height: 20px;
}

.side-bar-legend-image-spacing {
  margin-top: -2px;
}

.legend-image {
  margin-top: -2px;
  margin-bottom: 5px;
  margin-left: 10px;
  min-width: 36px;
  height: 20px;
}

.legend-text {
  font-size: 14px;
  margin-left: 10px;
  margin-top: -2px;
  min-width: 32px;
}

#fire-points-lable-side-bar-text .legend-text {
  font-size: 13px;
 
}

.legend-bar-img {
  margin-left: 45px;
  margin-bottom: 5px;
  margin-top: -5px;
  width: 59%;
  height: 20px;
}

.legend-bar-img-text {
  margin-left: 25px;
  margin-right: 69px;
}

.fire-icon-legend{
  width: 1.5rem;
  height: 1.5rem;
}

/* .population-icon-legend{
  margin-bottom: 0;
  object-fit: cover;
} */

.population-legend-spacing {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.population-legend-spacing .legend-text {
  display: grid;
  place-items: center;
  
}

.populationLegend-image-spacing {
  display: grid;
  place-items: center;
  margin-top: 2px;
  margin-bottom: 15px;
  width: 55px;
  height: 25px;
}


/* trying to create custom checkboxes */
.checkbox-container {
  font-size: 14px;
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  margin-left: -25px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container .auto-checkbox {
  margin-left: -25px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  opacity: 0;
}
.checkbox-container .auto-checkbox:disabled {
  margin-left: -25px;
  position: absolute;
  cursor: default;
  height: 0;
  width: 0;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #021a26;
}

.disable {
  cursor: default;
  color:rgb(150, 150, 150);
}

.disable .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #021a26;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
  background-color: #021a26;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark::after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.disable input:checked~.checkmark::after {
  display: block;
}

@media screen and (max-width: 770px) {
  #searchContainer {
    width: 150px;
  }
}

@media screen and (max-width: 801px) {
  #searchContainer {
    width: 150px;
  }
  
  ::-webkit-scrollbar {
    width: 3px;
  }

  #sideBarContent {
    padding: 0rem 0rem 1rem
  }

  #sideBar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33%;
    padding: 40px 170px 0;
    background: rgba(17, 49, 73, 0.85);
    border-radius: 25px 25px 0 0;
    z-index: 2;
    overflow:hidden;
    transition: 0.3s;
  }

  #sideBarTop {
    display: initial;
    padding-top: 39px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: rgba(17, 49, 73, 1);
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
  }

  #sideBarToggleArrow{
    display: block;
    position: absolute;
    top: 0px;
    text-align: center;
    margin: 0 47%
  }

  #title {
    font-size: 1.7rem;
  }

  .divider {
    margin: 0.5rem -1rem 0rem;
    padding-bottom:0;
  }

  #sideBarHeader {
    position: sticky;
    top: 0px;
    background-color: rgba(17, 49, 73, 1);
    z-index: 3;
    margin: -3px -14px;
    /* padding-top: 10px; */
    display: none;
  }

  #sideBarMobileHeader {
    position: sticky;
    top: 0px;
    background-color: rgba(17, 49, 73, 1);
    z-index: 3;
    margin: 0 25%;
    padding: 0px 10px 0;
  }

  #esriLogo {
    width: 80px;
    margin: -33px 0 0 8px;
    position: absolute;
    left: -50%;
  }

  #modal-btn {
  position: absolute;
  top: -40px;
  right: -43%
  }

  #infoBar {
    /* background-color: rgba(17, 49, 73, 0.85); */
    width: 100%;
    height: 100%;
    overscroll-behavior: contain;
    padding-top: 110px;
    margin-top: 0;
  }

  .sortClass {
    font-size: 16px;
    padding-right: 1rem;
  }

  .SortClassLeftMargin {
    margin-left: 0px;
  }

  #viewDiv .esri-ui-bottom-right {
    bottom: 1.5rem;
  }

  #layerListContainer {
    bottom: 2rem;
    max-height: 85%;
  }

    #bottom-btn {
      margin-bottom:  30px 0px 0px;
    }
}

@media screen and (max-width: 660px){
  #sideBar {
  padding: 40px 140px 0;
  }
    /* #modal-btn {
      position: absolute;
      top: -40px;
      right: -140px;
    } */
}

@media screen and (max-width: 590px){
  #sideBar {
  padding: 40px 110px 0;
  }

  #sideBarMobileHeader{
    margin: 0 20%
  }

  #esriLogo {
    width: 80px;
    margin: -33px 0 0 8px;
    position: absolute;
    left: -32%;
  }

  #modal-btn {
    position: absolute;
    top: -40px;
    right: -27%
  }
}

@media screen and (max-width: 530px){
  #sideBar {
  padding: 40px 90px 0;
  }
  
  #people-container {
    padding: 0 0 0 0;
  }

}

@media screen and (max-width: 477px) {
  #sideBar {
    padding: 40px 70px 0;
  }
  
  #sideBarMobileHeader {
    margin: 0
  }
  
  #esriLogo{
    width: 80px;
    margin: -33px 0 0 8px;
    position: absolute;
    left: 0;
  }

  #modal-btn {
    position: absolute;
    top: -40px;
    right: 4%
  }
}

@media screen and (max-width: 440px) {
  #sideBar {
    padding: 40px 35px 0;
  }
}

@media screen and (max-width: 375px) {
  #sideBar {
    padding: 40px 0px 0;
  }
}
